.acecade {
    margin-top: 50px;
    padding: 3%;
}

.tutores {
    margin-top: 100px;
}

.tutoresContent {
    display: grid; 
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

.tutorCard {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    /* border: 1px solid #F4E1A1 */
}

.tutorCard:hover {
    opacity: 0.8;
}

.tutorImage {
    border-radius: 50%;
    border: 1px solid #F4E1A1;
    background-color: azure;
}

.datosTutor {
    text-align: left;
}

@media screen and (max-width: 560px) {
    .acecade {
        display: inline;
    }

    .historia {
        margin-bottom: 100px!important;
    }

    .tutoresContent {
        grid-template-columns: 100%;
    }

    .tutorImage {
        width: 90%;
        height: auto;
    }
}