.page {
    margin: 0px auto;
    width: 100%;
}

.header {
    /* position: sticky; */
    overflow: visible!important;
    background: white!important;
    background-color: white!important;
    top: 0;
}

.content {
    height: 100%;
    overflow: hidden!important;
    /* padding: 0% 1% 0% 1%; */
    width: 100%;
}

.prueba {
    height: 500px;
    background-color: blueviolet;
    opacity: 80%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.hd {
    overflow: auto;
}